In [1]:
!wget https://files.grouplens.org/datasets/movielens/ml-25m.zip

--2022-11-23 08:52:35--  https://files.grouplens.org/datasets/movielens/ml-25m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 261978986 (250M) [application/zip]
Saving to: ‘ml-25m.zip’

ml-25m.zip          100%[===================>] 249.84M  78.8MB/s    in 3.2s

2022-11-23 08:52:38 (78.8 MB/s) - ‘ml-25m.zip’ saved [261978986/261978986]

In [2]:
!unzip -q ml-25m.zip

In [3]:
import pandas as pd
movies = pd.read_csv("ml-25m/movies.csv")

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
import re
def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title

In [6]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [7]:
movies.head()

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
vectorizer = TfidfVectorizer(ngram_range=(1,2))
tfidf = vectorizer.fit_transform(movies["clean_title"])

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [15]:
def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices].iloc[::-1]
    
    return results

In [16]:
search('Waiting')

,movieId,title,genres,clean_title
3228,3321,"Waiting Game, The (2000)",Comedy,Waiting Game The 2000
19168,99809,"Waiting Room, The (2012)",Documentary,Waiting Room The 2012
36256,149788,Crazy Waiting (2008),Comedy|Romance,Crazy Waiting 2008
39308,156903,The Waiting (2016),Thriller,The Waiting 2016
60826,204248,Waiting for the Storm,(no genres listed),Waiting for the Storm
10236,37384,Waiting... (2005),Comedy,Waiting 2005
61841,207057,Waiting (2016),Comedy|Drama,Waiting 2016
26210,125415,The Waiting City (2010),Drama|Romance,The Waiting City 2010
47816,175373,The Waiting Room (1996),Comedy,The Waiting Room 1996
36116,149490,Waiting in the Dark (2006),Drama|Romance,Waiting in the Dark 2006

In [33]:
# title = "Men (1995)"
# title = clean_title(title)
# query_vec = vectorizer.transform([title])
# similarity = cosine_similarity(query_vec, tfidf).flatten()

In [34]:
# indices = np.argpartition(similarity, -5)[-5:]

In [35]:
# similarity[-5:]

In [36]:
# results = movies.iloc[indices].iloc[::-1]
# results